<h1>And her Dope Tunes</h1>
<div class="banniere">
  <img classe="imgban" src="assets/logocraki.png">
</div>
<div id="display-post" ></div>


<table id="posts">

  <!-- Selection du genre -->
  <ul class="nav nav-pills" id="gender-filter">
    <li class="active", data-active-id = '0' >
      <a class = 'genre', data-click-id = '0' >Tout</a>
    </li>
    <% Genre.all.each do |g| %>
      <li data-active-id = '<%= g.id %>'>
        <a class = 'genre', data-click-id = '<%= g.id %>' >
           <%= g.name %> : <%= Post.where(genre_id: g.id).count() %>
        </a>
      </li>
    <% end %>
  </ul>

  <!-- Affichage des postes -->
  <div class="row">
    <% @posts.each do |post| %>
      <div class="span3 post" data-genre-id = '<%= post.genre_id %>' >
          <%= link_to "#", class: "post-link", data: {:json => post_path( id: post.id, format: :json )} do %>
            <%= image_tag post.image.url, class: "img-rounded" %>
          <% end %>
      </div>
   <% end %>
  </div>

</table>

<br />
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<%  end %>

<script id="post-template" type="text/template">
<div class="row rowtemplate">
  <div class="span6">
    <div class="fluid-width-video-wrapper">
      <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ link }}" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


  <div class=" span6">
    <p class="next_prev_buttons">
      <a href="#" class="post-link" data-json="/posts/{{next_post}}.json"><i class="icon-fast-forward"></i></a>
      {{#autorized}}
        <a href="posts/{{id}}/edit" >Edit</a>
      {{/autorized}}

      <a href="#" class="post-link" data-json="/posts/{{prev_post}}.json"><i class="icon-fast-backward"></i></a>
    </p>
    <div class="ligne"></div>

    <h2>{{ title }}</h2>
    <div class="ligne"></div>

    <b>Categorie : </b>{{  genre }}
    <div class="ligne"></div>

    <b>Content : </b>{{ content }}

  </div>
</div>

<div class="ligne"><img classe="imgligne" src="assets/cd.png"></div>
</script>