<h1>Listing posts</h1>

<div id="display-post" ></div>

<table id="posts">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Link</th>
    <th>Genre</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.link %></td>
    <td><%= post.genre.name %></td>
    <td><%= image_tag post.image.url %></td>
    <td><%= link_to 'Show', "#", class: "post-link", data: {:json => post_path( id: post.id, format: :json )} %></td>
    <% if user_signed_in? && current_user.is_admin? %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? && current_user.is_admin? %>
<%= link_to 'New Post', new_post_path %>
<%  end %>

<script id="post-template" type="text/template">

  <h2>{{ title }}</h2>
  

<p>
  <b>Content:</b>
   {{ content }}
</p>
  <img src="{{image.url}}">
<p>
  <b>Genre</b> {{  genre }}
</p>
<p>
  <b>Vidéo:</b><br/>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ link }}" frameborder="0" allowfullscreen></iframe>
</p>
<p>
  <a href="#" class="post-link" data-json="/posts/{{prev_post}}.json">Previous Post</a><br/>
  <a href="#" class="post-link" data-json="/posts/{{next_post}}.json">Next Post</a>

</p>

</script>