<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
<p>
	<b>Genre:</b>
	<%= @post.genre.name %>
</p>
<p>
  <b>Vidéo:</b>
  <%= @post.link %>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= @post.link %>" frameborder="0" allowfullscreen></iframe>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>