<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">La pépiterie</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><%= link_to "Accueil", root_path %></li>
          <li><a href="#about">About</a></li>
        </ul>
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Connecté en tant que <%= current_user.email %>. Ce n'est pas vous ?
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Enregistrez vous", new_user_registration_path %> ou <%= link_to "Connectez vous", new_user_session_path %>
          <% end %>
        </p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>



<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
